.icon{
    height: 23px;
    width: 25.33px;
    position: relative;
}

.text{
    height: 23px;
    width: 25.33px;
    left: 0px;
    top: -12.5px;
    position: relative;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    text-align: center;

}

a{
    text-decoration: none;
}

.link{
  width: 41px;
  height: 65px;
  color: #969696;
  position: relative;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 20px;
  align-items: center;
}

.selected{
    color: #000000;
  }