body {
    background-color: #292929;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

section {
    background-color: #292929;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: baseline;
    top: 0px;
    left: 0px;
}

code {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.tabs {
    width: 375px;
    height: 80px;
    top: 0px;
    left: 0px;
    background-color: #FFFFFF;
    border-radius: 12px 12px 0px 0px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: baseline;
}